<div class="navbar navbar-light fixed-top flex-md-nowrap p-0 tempSharepointHeader">
  <img src="../assets/images/sharepointLogo.jpg" style="height: 45px;" class="me-1" />
  <img src="../assets/images/sharepointUserImage.jpg" style="height: 45px;" class="me-1" />
</div>
<header class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 shadow" style="margin-top:45px;">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 py-1" href="#">
    <img src="../assets/images/logo.png" style="height: 45px;" class="me-1" />
    &nbsp;</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span style="flex-grow: 1;" class="ps-2">
    <!-- <button type="button" class="btn btn-primary badge-btn pe-4">
      Activity <span class="badge badge-text ms-2">04</span>
    </button> -->
    <nav>
      <a class="me-4 py-2 text-dark text-decoration-none fw-bold" href="#">Home</a>
      <a class="me-4 py-2 text-dark text-decoration-none fw-bold" href="#">Business Resources</a>
      <a class="me-4 py-2 text-dark text-decoration-none fw-bold" href="#">Employee Center</a>
      <a class="me-4 py-2 text-dark text-decoration-none fw-bold" href="#">Company & Market News</a>
      <a class="py-2 text-dark text-decoration-none fw-bold" href="#">Workspace & Teams</a>
    </nav>
  </span>
  <div class="navbar-nav px-4">
    <div class="nav-item text-nowrap">
      <!-- <button type="button" class="btn btn-primary">
        <i class="fa-solid fa-circle-user" style="font-size: 21px;"></i>
      </button> -->
      <!-- <a class="nav-link px-3" href="#">Sign out</a> -->
      <button type="button" class="btn btn-primary badge-btn pe-4">
        Activity <span class="badge badge-text ms-2">04</span>
      </button>
    </div>
  </div>
</header>