<app-banner-section></app-banner-section>
<div class="row mb-4">
    <div class="col-md-9">
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5 class="non-card-heading position-relative"><i class="fa-solid fa-scale-balanced text-primary"></i>
                        <span class="ms-1 px-2">Completed Compliance Trainings</span>
                    </h5>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../../assets/images/PIE1.svg" style="width:100%;"/>
                                </div>
                                <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
                                    <label class="fw-bold d-flex align-items-center mb-2">
                                        <span class="graphIndicator totalCountColor me-2"></span>
                                        Total Employees
                                    </label>
                                    <label class="fw-bold d-flex align-items-center">
                                        <span class="graphIndicator completionCountColor me-2"></span>
                                        Completion Percentage
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5 class="non-card-heading position-relative"><i class="fa-solid fa-star-half-stroke text-primary"></i>
                        <span class="ms-1 px-2">Appraisal Submission</span>
                    </h5>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <img src="../../assets/images/PIE2.svg" style="width:100%;"/>
                                </div>
                                <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
                                    <label class="fw-bold d-flex align-items-center mb-2">
                                        <span class="graphIndicator totalCountColor me-2"></span>
                                        Total Employees
                                    </label>
                                    <label class="fw-bold d-flex align-items-center">
                                        <span class="graphIndicator completionCountColor me-2"></span>
                                        Completion Percentage
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h5 class="non-card-heading position-relative"><i class="fa-solid fa-chart-line text-primary"></i>
                    <span class="ms-1 px-2">Monthly expense report</span>
                </h5>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="../../assets/images/finance_stats.svg" style="width:100%"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5 class="non-card-heading position-relative"><i class="fa-solid fa-chart-line text-primary"></i>
                        <span class="ms-1 px-2">Monthly expense report</span>
                    </h5>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="../../assets/images/departmentWiseComplianceTraining.svg" style="width:100%; margin: 23px 0;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h5 class="non-card-heading position-relative"><i class="fa-solid fa-chart-line text-primary"></i>
                        <span class="ms-1 px-2">Monthly expense report</span>
                    </h5>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="../../assets/images/depWiseAppraisalFormSubmission.svg" style="width:100%; margin-top: -70px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-social-corner></app-social-corner>
    </div>
    <div class="col-md-3">
        <div class="row mb-4">
            <app-widget1></app-widget1>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-cake-candles text-primary"></i>
                    <span class="ms-1 px-2">Wishes Today</span>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="card birthdayCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>John Doe</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Will Smith</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Peter Parker</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Jacob Mathur</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Rick Fury</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-handshake text-primary"></i>
                    <span class="ms-1 px-2">Upcoming Meetings</span>
                </h6>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>First Aid Training</h5>
                                        <p class="mb-0">11:30 am - 12:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Mock Up Discussion</h5>
                                        <p class="mb-0">12:30 pm - 1:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Onboarding Discussion</h5>
                                        <p class="mb-0">02:30 pm - 4:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">14</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Client Call</h5>
                                        <p class="mb-0">10:00 am - 12:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-landmark fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Compliance Training</h6>
                <h2 class="text-primary">23% <i class="fa-solid fa-arrow-up"></i></h2>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-clipboard-check fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Investment Growth</h6>
                <h2 class="text-primary">5.2% <i class="fa-solid fa-arrow-up"></i></h2>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-file-invoice-dollar fa-5x"></i>
                </div>
                <h6 class="text-uppercase">New Accounts</h6>
                <h2 class="text-primary">127.1K <i class="fa-solid fa-arrow-up"></i></h2>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-bullseye fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Distance From Goal 1</h6>
                <h2 class="text-primary">239.4K <i class="fa-solid fa-arrow-down"></i></h2>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-bullseye fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Distance From Goal 2</h6>
                <h2 class="text-primary">358.7K <i class="fa-solid fa-arrow-down"></i></h2>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-atom fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Asset Allocated</h6>
                <h2 class="text-primary">84% <i class="fa-solid fa-arrow-up"></i></h2>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
</div>