<div class="row mt-4">
    <div class="col-md-12">
        <h3 class="non-card-heading position-relative"><i class="fa-solid fa-square-share-nodes text-primary"></i>
            <span class="ms-1 px-2">Social Corner</span>
        </h3>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-4" *ngFor="let obj of socialObj;">
        <div class="card" style="min-height: 455px;">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-12 d-flex align-items-center justify-content-end">
                        <label style="font-size: 12px;color: #bbb9b9;">{{obj.days}} days ago</label>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">
                        <i class="fa-solid fa-circle-user" style="font-size: 22px;"></i>
                        <h6 class="ms-2 mb-0">{{obj.name}}</h6>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-12">
                        <p>{{obj.desc}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="background-image: linear-gradient(direction, #f00, #00f);">
                        <img width="100%" [src]="obj.imgUrl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>