.progressBar{
    position: relative;
    padding-top: 30px;
}
.progressBar::before{
    content: '';
    position: absolute;
    top:0;
    height: 15px;
}
.progressTakenColor::before{
    background-color: #e00808;
    border-radius: 10px 0 0 10px ;
    left: 10px;
    width: calc(100% - 10px);
}
.progressBookedColor::before{
    background-color: #18c604;
    left:0;
    width:100%;
}
.progressRemainingColor::before{
    background-color: #af06e3;
    border-radius: 0px 10px 10px 0px;
    left: 0;
    width: calc(100% - 10px);
}
.approvalTable i.fa-circle-user{
    font-size: 26px;
}