.carousel-indicators{
    justify-content: end;
    margin-right: 1%;
    margin-bottom: 0rem;
    margin-left: 5%;
}
.newsThumbnail img{
    width: 100%;
    transform: translateY(-50%);
    margin-top: 50%;
    
}
.newsThumbnail{
    border-radius: 10px 10px 10px 0px;
    box-shadow: none;
}