<div class="row mb-4"
    style="background: linear-gradient(180deg, #151515 0%, #151515 60%, rgba(244,247,254,1) 60%, rgba(244,247,254,1) 100%);">
    <div class="col-md-12">
        <div class="row my-4">
            <div class="col-md-12 position-relative">
                <h3 class="text-white">Welcome, Emily !</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row align-items-center">
                                                <div class="col-md-6 d-flex flex-column">
                                                    <h5>Intelligent Data Extraction for Insurers with EXL XTRAKTO.AI™
                                                    </h5>
                                                    <p>EXL XTRAKTO.AI™ is an AI-powered suite of enterprise Intelligent
                                                        Data Processing solutions, services, and reusable components
                                                        that processes unstructured text and images. Combining AI with
                                                        deep insurance domain expertise, EXL XTRAKTO.AI™ rapidly
                                                        processes documents related to servicing, new business, and
                                                        claims to generate insights. This “AI-augmented” approach
                                                        reduces cost, improves speed, delivers greater accuracy, and
                                                        enables new data for better decision making.</p>
                                                    <button type="button" class="btn btn-primary me-auto">Read
                                                        More</button>
                                                </div>
                                                <div class="col-md-6 d-flex justify-content-end"
                                                    style="overflow: hidden;">
                                                    <img src="https://www.exlservice.com/sites/default/files/2023-04/hero.jpg"
                                                        class="d-block" style="height: 335px;" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row align-items-center">
                                                <div class="col-md-6 d-flex flex-column">
                                                    <h5>Five key findings about the work of F&A teams in their quest to
                                                        become data driven</h5>
                                                    <p>HFS Research in partnership with EXL surveyed finance and
                                                        accounting leaders across industries worldwide to address how
                                                        these organizations are changing to use data as a strategic
                                                        asset. In addition to the overall findings, the research
                                                        revealed results specific to the banking industry among others.
                                                    </p>
                                                    <button type="button" class="btn btn-primary me-auto">Read
                                                        More</button>
                                                </div>
                                                <div class="col-md-6 d-flex justify-content-end"
                                                    style="overflow: hidden;">
                                                    <img src="https://www.exlservice.com/sites/default/files/2023-05/hero.jpg"
                                                        class="d-block" style="height: 335px;" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row align-items-center">
                                                <div class="col-md-6 d-flex flex-column">
                                                    <h5>Transforming payment integrity to prevent aberrant and
                                                        fraudulent billing behaviors</h5>
                                                    <p>Health payers must resolve claims accurately and at speed while
                                                        preventing aberrant and fraudulent billing behaviors – a
                                                        difficult task at the best of times. These aren’t the best of
                                                        times. However, payers can improve their payment integrity (PI)
                                                        programs and the claims life cycle end-to-end through data,
                                                        digital, and analytics. It just takes finding the right
                                                        strategic partner to enable PI innovation through
                                                        transformation.</p>
                                                    <button type="button" class="btn btn-primary me-auto">Read
                                                        More</button>
                                                </div>
                                                <div class="col-md-6 d-flex justify-content-end"
                                                    style="overflow: hidden;">
                                                    <img src="https://www.exlservice.com/sites/default/files/2022-11/Hero-transforming-payment-integrity-to-prevent-aberrant-and-fraudulent-billing-behaviors.jpg"
                                                        class="d-block" style="height: 335px;" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                  </div> -->
                                </div>
                            </div>
                            <div class="col-md-3" style="height: 335px; overflow-y: auto;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="position-relative"><i
                                                class="fa-solid fa-radio text-primary"></i>
                                            <span class="ms-1 px-2">News and Events</span>
                                        </h6>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <div class="card newsThumbnail">
                                            <div class="card-body p-2">
                                                <div class="row" style="height: 80px;">
                                                    <div class="col-md-3" style="max-height: 100%; overflow: hidden;">
                                                        <img src="https://ml.globenewswire.com/Resource/Download/c684980b-7c67-436f-8eda-3d1e6aac9f48?size=3" />
                                                    </div>
                                                    <div class="col-md-9 d-flex align-items-center">
                                                        <p class="fw-bold mb-1">EXL names Pamela Harrison Chief Human Resources Officer</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <div class="card newsThumbnail">
                                            <div class="card-body p-2">
                                                <div class="row" style="height: 80px;">
                                                    <div class="col-md-3" style="max-height: 100%; overflow: hidden;">
                                                        <img src="https://mpost.io/wp-content/uploads/image-74-7-1024x1024.jpg" />
                                                    </div>
                                                    <div class="col-md-9 d-flex align-items-center">
                                                        <p class="fw-bold mb-1">EXL launches generative AI platform to help clients transform their business with AI</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <div class="card newsThumbnail">
                                            <div class="card-body p-2">
                                                <div class="row" style="height: 80px;">
                                                    <div class="col-md-3" style="max-height: 100%; overflow: hidden;">
                                                        <img src="https://assets.bizclikmedia.net/286/6426c3b18fb16b5868d5e6d4ede231f9:fc88a50f37440c454c93c3d318b499c1/cover-exl-november2021-jpg.webp" />
                                                    </div>
                                                    <div class="col-md-9 d-flex align-items-center">
                                                        <p class="fw-bold mb-1">Strategies for developing the data-led enterprise: Q&A with EXL’s Ankor Rai & Gaurav Iyer</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>