<div class="row mb-4">
    <div class="col-md-12">
        <h6 class="non-card-heading position-relative"><i class="fa-solid fa-clipboard-list text-primary"></i>
            <span class="ms-1 px-2">New casses</span>
        </h6>
    </div>
    <div class="col-md-12">
        <div class="metric card">
            <div class="metric-inner">
            <div class="metric-body viz-basic">
                <div class="value">
                    <h1 class="text-primary">210</h1>
                    <h2>cases</h2>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-12">
        <h6 class="non-card-heading position-relative"><i class="fa-solid fa-clipboard-list text-primary"></i>
            <span class="ms-1 px-2">Last 7 vs. 30 Days casses</span>
        </h6>
    </div>
    <div class="col-md-12">
    <div class="metric card">
        <div class="metric-inner">
            <div class="metric-body viz-basic-with-7-and-40-day-comparison">
                <div class="value">
                  <div class="current-value">
                    <h1 class="text-primary">630</h1>
                    <h2>cases</h2>
                  </div>
                  <div class="comparison_wrapper">
                    <div class="left_comparison">
                      <h3 class="green">&#9660; 10%</h3>
                      <h4>7 days ago</h4>
                    </div>
                    <div class="right_comparison">
                      <h3 class="red">&#9650; 12%</h3>
                      <h4>30 days ago</h4>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h6 class="non-card-heading position-relative"><i class="fa-solid fa-clipboard-list text-primary"></i>
            <span class="ms-1 px-2">Top Performers</span>
        </h6>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <img src="../../../../assets/images/topPerformer.svg" style="width: 100%;margin-top: -50px; margin-bottom: -15px;" />
            </div>
        </div>
    </div>
</div>