<div class="row mb-4">
    <div class="col-md-12">
        <h6 class="non-card-heading position-relative"><i class="fa-solid fa-file-alt text-primary"></i>
            <span class="ms-1 px-2">Forms &amp; Templates</span>
        </h6>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-primary dashboardFormBtnBlock">
                            <i class="fa-solid fa-briefcase text-primary my-2"></i>
                            <h6 class="mb-0">Job Descriptions</h6>
                        </button>
                    </div>
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-primary dashboardFormBtnBlock">
                            <i class="fa-solid fa-people-arrows text-primary my-2"></i>
                            <h6 class="mb-0">Onboarding</h6>
                        </button>
                    </div>
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-primary dashboardFormBtnBlock">
                            <i class="fa-solid fa-money-bill-1 text-primary my-2"></i>
                            <h6 class="mb-0">Payroll</h6>
                        </button>
                    </div>
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-primary dashboardFormBtnBlock">
                            <i class="fa-solid fa-chart-gantt text-primary my-2"></i>
                            <h6 class="mb-0">Performance Review</h6>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary dashboardFormBtnBlock">
                            <i class="fa-solid fa-camera-retro text-primary my-2"></i>
                            <h6 class="mb-0">Photos</h6>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary dashboardFormBtnBlock">
                            <i class="fa-solid fa-lock text-primary my-2"></i>
                            <h6 class="mb-0">Privacy</h6>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary dashboardFormBtnBlock">
                            <i class="fa-solid fa-user-shield text-primary my-2"></i>
                            <h6 class="mb-0">Safety</h6>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary dashboardFormBtnBlock">
                            <i class="fa-solid fa-list-check text-primary my-2"></i>
                            <h6 class="mb-0">SOPs</h6>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>