::ng-deep .fc .fc-button-primary {
    background-color: transparent;
    border: none;
    color: #e237e7;
    padding: 2px;
    box-shadow: none;
}
::ng-deep .fc .fc-button-primary:focus {
    box-shadow: none;
}
::ng-deep .fc .fc-toolbar-title{
    font-size: 16px;
}