<app-banner-section></app-banner-section>
<div class="row mb-4">
    <div class="col-md-9">
        <div class="row mb-4">
            <div class="col-md-2">
                <button class="btn btn-primary dashboardBtnBlock">
                    <i class="fa-solid fa-user-shield text-primary mb-3"></i>
                    <h6 class="mb-0">Projects</h6>
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary dashboardBtnBlock">
                    <i class="fa-solid fa-hospital-user text-primary mb-3"></i>
                    <h6 class="mb-0">Benefits</h6>
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary dashboardBtnBlock">
                    <i class="fa-solid fa-handshake-angle text-primary mb-3"></i>
                    <h6 class="mb-0">Helpdesk</h6>
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary dashboardBtnBlock">
                    <i class="fa-solid fa-magnifying-glass-chart text-primary mb-3"></i>
                    <h6 class="mb-0">Reports</h6>
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary dashboardBtnBlock">
                    <i class="fa-solid fa-folder-tree text-primary mb-3"></i>
                    <h6 class="mb-0">Directory</h6>
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary dashboardBtnBlock">
                    <i class="fa-solid fa-person-walking-arrow-right text-primary mb-3"></i>
                    <h6 class="mb-0">Leave</h6>
                </button>
            </div>
        </div>
        <app-social-corner></app-social-corner>
        <app-form-templates></app-form-templates>
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-comment-alt text-primary"></i>
                    <span class="ms-1 px-2">FAQ</span>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 faq">
                                <div class="accordion" id="accordionExample">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Why do we use it?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        It is a long established fact that a reader will be
                                                        distracted by the readable content
                                                        of a page when looking at its layout.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse4"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Where can I get some?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse4" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        There are many variations of passages of Lorem Ipsum
                                                        available, but the majority have
                                                        suffered alteration in some form, by injected humour
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse5"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapse5" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse6"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse6" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse7"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Why do we use it?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse7" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        It is a long established fact that a reader will be
                                                        distracted by the readable content
                                                        of a page when looking at its layout.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse8"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Where can I get some?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse8" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">

                                                        There are many variations of passages of Lorem Ipsum
                                                        available, but the majority have
                                                        suffered alteration in some form, by injected humour
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse5"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapse5" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse6"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse6" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse7"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Why do we use it?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse7" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        It is a long established fact that a reader will be
                                                        distracted by the readable content
                                                        of a page when looking at its layout.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse8"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Where can I get some?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse8" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">

                                                        There are many variations of passages of Lorem Ipsum
                                                        available, but the majority have
                                                        suffered alteration in some form, by injected humour
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-calendar-plus text-primary"></i>
                    <span class="ms-1 px-2">Leave Management</span>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-cake-candles text-primary"></i>
                    <span class="ms-1 px-2">Wishes Today</span>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="card birthdayCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>John Doe</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Will Smith</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Peter Parker</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Jacob Mathur</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Rick Fury</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-handshake text-primary"></i>
                    <span class="ms-1 px-2">Upcoming Meetings</span>
                </h6>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>First Aid Training</h5>
                                        <p class="mb-0">11:30 am - 12:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Mock Up Discussion</h5>
                                        <p class="mb-0">12:30 pm - 1:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Onboarding Discussion</h5>
                                        <p class="mb-0">02:30 pm - 4:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">14</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Client Call</h5>
                                        <p class="mb-0">10:00 am - 12:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-clipboard-check fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Completed Tickets</h6>
                <h1 class="text-primary">134 <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-clipboard-list fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Pending Tickets</h6>
                <h1 class="text-primary">87 <i class="fa-solid fa-arrow-down"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-atom fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Asset Allocated</h6>
                <h1 class="text-primary">76% <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-graduation-cap fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Training</h6>
                <h1 class="text-primary">40% <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-landmark fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Compliance Training</h6>
                <h1 class="text-primary">23% <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-file-invoice-dollar fa-5x"></i>
                </div>
                <h6 class="text-uppercase">New Accounts</h6>
                <h1 class="text-primary">27.1K <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
</div>