body {
  font-size: .875rem;
  background: #f4f7fe;
  font-family: 'Poppins', sans-serif;
}

.btn-secondary {
  background-color: #dde7fa;
  border: 0px;
  color: #58608c;
}

.feather {
  width: 16px;
  height: 16px;
}

header.shadow {
  box-shadow: 0 0px 4px rgba(0, 0, 0, .15) !important;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
    right: 0;
    */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #fb4e0b;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  // border-right: 1px solid #dfe0e1;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.btn-primary {
  background: #fff;
  color: #151515;
  border: 2px solid #fb4e0b;
}

.btn-primary:hover {
  background: #fb4e0b;
  color: #fff;
  border: 2px solid #fb4e0b;
}

.badge-btn {
  position: relative;
}

.badge-btn .badge-text {
  color: #ffffff;
  position: absolute;
  top: -5px;
  left: 75%;
  background: #fb4e0b;
  border-radius: 10px 10px 10px 0px;
  height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 30px 30px 30px 0;
}

.card-header {
  color: #222e60;
  font-weight: 500;
  font-size: 18px;
}

.appVersion {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5px;
  flex-direction: column;
}

.appVersion label {
  color: #c1c1c1;
}

.card {
  border: none;
  box-shadow: 0px 2px 5px 0px #d5d5d5;
}

.card-header {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-primary {
  color: #fb4e0b;
}

.card-sub-header {
  color: #fb4e0b;
  font-weight: 400;
  font-size: 14px;
}

.non-card-heading::after {
  content: '';
  border: 1px solid #cfcfcf;
  width: calc(100% - 25px);
  display: block;
  position: absolute;
  left: 25px;
  top: 50%;
  z-index: 1;
}

.non-card-heading span {
  background: #f4f7fe;
  z-index: 2;
  position: relative;
}

.btn-icon {
  height: 60px;
  width: 60px;
  border-radius: 15px 15px 15px 0;
  font-size: 22px;
}

.btn-icon-blue {
  background: rgb(24 119 242 / 15%);
  color: #1877f2 !important;
}

.btn-icon-yellow {
  background: rgb(232 176 89 / 15%);
  color: #e8b059 !important;
}

.btn-icon-sky {
  background: rgb(3 164 236 / 15%);
  color: #03a4ec !important;
}

.btn-icon-red {
  background: rgb(247 0 0 / 15%);
  color: #f70000 !important;
}

.btn-icon:hover {
  background: #fff;
}

.birthdayCard label {
  font-size: 16px;
  font-weight: 600;
}

.birthdayCard p {
  font-size: 10px;
  margin: 0;
}

.birthdayCard button {
  font-size: 10px;
}

.birthdayCard ::after {
  content: '',

}

.card {
  overflow: hidden;
  border-radius: 20px 20px 20px 0px;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  color: rgb(255 255 255 / 60%);
}

.card-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-block .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

//Event section css
.event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

.event-list>li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
}

.event-list>li:last-child {
  margin: 0px;
}

.event-list>li>time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 44, 102);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.event-list>li:nth-child(even)>time {
  background-color: rgb(165, 82, 167);
}

.event-list>li>time>span {
  display: none;
}

.event-list>li>time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-list>li>time>.day {
  display: block;
  font-size: 26pt;
  font-weight: 600;
  line-height: 1;
}

.event-list>li time>.month {
  display: block;
  font-size: 24pt;
  font-weight: 600;
  line-height: 1;
}

.event-list>li time>.time {
  display: block;
  font-size: 12pt;
  font-weight: 600;
  line-height: 1;
}

.event-list>li>img {
  width: 100%;
}

.event-list>li>.info {
  padding-top: 5px;
  text-align: center;
}

.event-list>li>.info>.title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}

.event-list>li>.info>.desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}

.event-list>li>.info>ul,
.event-list>li>.social>ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.event-list>li>.social>ul {
  margin: 0px;
}

.event-list>li>.info>ul>li,
.event-list>li>.social>ul>li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}

.event-list>li>.info>ul>li>a {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
}

.event-list>li>.social>ul>li {
  padding: 0px;
}

.event-list>li>.social>ul>li>a {
  padding: 3px 0px;
}

.event-list>li>.info>ul>li:hover,
.event-list>li>.social>ul>li:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(200, 200, 200);
}

.facebook a,
.twitter a,
.google-plus a {
  display: block;
  width: 100%;
  color: rgb(75, 110, 168) !important;
}

.twitter a {
  color: rgb(79, 213, 248) !important;
}

.google-plus a {
  color: rgb(221, 75, 57) !important;
}

.facebook:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(79, 213, 248) !important;
}

.google-plus:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
  .event-list>li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }

  .event-list>li>time,
  .event-list>li>img {
    display: inline-block;
  }

  .event-list>li>time,
  .event-list>li>img {
    width: 120px;
    float: left;
  }

  .event-list>li>.info {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
  }

  .event-list>li>time,
  .event-list>li>img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }

  .event-list>li>.info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }

  .event-list>li>.info>.title,
  .event-list>li>.info>.desc {
    padding: 0px 10px;
  }

  .event-list>li>.info>ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  .event-list>li>.social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px;
  }

  .event-list>li>.social>ul {
    border-left: 1px solid rgb(230, 230, 230);
  }

  .event-list>li>.social>ul>li {
    display: block;
    padding: 0px;
  }

  .event-list>li>.social>ul>li>a {
    display: block;
    width: 40px;
    padding: 10px 0px 9px;
  }
}

//FAQ Related css
//   .faq {
//     padding: 120px 0 90px;
//     background: #f7fbff;
//     min-height: 100vh;
// }

.faq .section-title {
  margin-bottom: 54px;
}

.faq .section-title h2 {
  margin-bottom: 22px;
}

.faq .accordion .card {
  border: none;
  margin-bottom: 30px;
  border: 1px solid #fb4e0b;
}

.faq .accordion .card:last-child {
  margin-bottom: 0px;
}

.faq .accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.faq .accordion .card .card-header {
  border: none;
  border-radius: 10px;
  padding: 0;
}

.faq .accordion .card .card-header h5 {
  padding: 0;
}

.faq .accordion .card .card-header h5 button {
  color: #1e3056;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px 15px 50px;
  display: block;
  width: 100%;
  color: rgba(30, 48, 86, 0.8);
  text-align: left;
  background: #fff;
  -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.faq .accordion .card .card-header h5 button:after {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #fb4e0b;
  text-align: center;
  border-radius: 50%;
  line-height: 100%;
  content: "\f0fe";
  font-size: 20px;
  line-height: 18px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.faq .accordion .card .card-header h5 button.collapsed {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  // border: 1px solid rgba(97, 125, 255, 0.2);
}

.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
  content: '\f068';
  color: #fff;
  background-image: -webkit-linear-gradient(-180deg, #5e7eff 0%, #ff5f74 30%, #a85fff 100%);
}

.faq .accordion .card .card-body {
  -webkit-box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 0 0 10px 10px;
  padding-top: 0;
  margin-top: -6px;
  padding-left: 72px;
  padding-right: 70px;
  padding-bottom: 23px;
  color: rgba(30, 48, 86, 0.8);
  line-height: 30px;
}

//Table css
.table-wrap {
  overflow-x: auto;
}

.table {
  // min-width: 1000px !important;
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}

.table thead th {
  border: none;
  padding: 24px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

.table thead tr {
  background: #fff;
  border-bottom: 4px solid #eceffa;
}

.table tbody tr {
  margin-bottom: 10px;
  border-bottom: 4px solid #f8f9fd;
}

.table tbody tr:last-child {
  border-bottom: 0;
}

.table tbody th,
.table tbody td {
  border: none;
  padding: 24px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
}

.table tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px;
}

.table tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
}

.table tbody td.status .active {
  background: #cff6dd;
  color: #1fa750;
}

.table tbody td.status .active:after {
  background: #23bd5a;
}

.table tbody td.status .waiting {
  background: #fdf5dd;
  color: #cfa00c;
}

.table tbody td.status .waiting:after {
  background: #f2be1d;
}

.table tbody td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.table tbody td .email span {
  display: block;
}

.table tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.table tbody td .close span {
  font-size: 12px;
  color: #dc3545;
}

button.close {
  background: transparent;
  border: 0;
  padding: 0;
}

button.close i {
  font-size: 22px;
}

i.text-primary, .text-primary {
  color: #fb4e0b !important;
}

.btn-primary:hover i {
  color: #fff !important;
}

.dashboardBtnBlock {
  border-radius: 15px 15px 15px 0;
  width: 100%;
  padding: 30px 10px;
}

.dashboardBtnBlock i {
  font-size: 45px;
}

.carousel-indicators .active {
  background-color: #fb4e0b;
}

.dashboardFormBtnBlock {
  border-radius: 10px 10px 10px 0;
  width: 100%;
  padding: 10px;
}

.dashboardFormBtnBlock i {
  font-size: 30px;
}

//Calendar css
.fc-theme-standard a {
  color: #fb4e0b;
  text-decoration: none;
}
.fc .fc-button-primary {
  background-color: transparent;
  border: none;
  color: #fb4e0b;
  padding: 2px;
  box-shadow: none;
}
.fc .fc-button-primary:focus {
  box-shadow: none;
}
.fc .fc-toolbar-title{
  font-size: 16px;
}
.fc table{
  font-size: 12px;
}
.fc table th{
  font-weight: normal;
}
.fc .fc-button.fc-today-button{
  font-size: 10px;
  padding: 2px 8px;
  text-transform: capitalize;
  background: #0061fe;
  color: #fff;
}
.fc .fc-button-primary:disabled{
  background: #8f8f8f;
}
.fc .fc-daygrid-day.fc-day-today{
  background-color: rgb(251 78 11 / 15%);
}

.card-bg{
  border-top: 5px solid #fb4e0b;
}
.card-block{
  color: #000;
}
.meetingCard .btn{
  border-radius: 10px 10px 10px 0;
  font-size: 14px;
  padding: 5px 15px;
}