<app-banner-section></app-banner-section>
<div class="row mb-4">
    <div class="col-md-9">
        <div class="row mb-3">
            <div class="col-md-3 mb-2">
                <button class="btn btn-primary dashboardFormBtnBlock" routerLink="/approval-management">
                    <span class="d-flex justify-content-around align-items-center my-2">
                        <i class="fa-solid fa-person-walking-arrow-right text-primary"></i>
                        <h3 class="mb-0">05</h3>
                    </span>
                    <h6 class="mb-0">Pending Leave Approvals</h6>
                </button>
            </div>
            <div class="col-md-3 mb-2">
                <button class="btn btn-primary dashboardFormBtnBlock" routerLink="/approval-management">
                    <span class="d-flex justify-content-around align-items-center my-2">
                        <i class="fa-solid fa-plane-departure text-primary"></i>
                        <h3 class="mb-0">11</h3>
                    </span>
                    <h6 class="mb-0">Pending Travel Approvals</h6>
                </button>
            </div>
            <div class="col-md-3 mb-2">
                <button class="btn btn-primary dashboardFormBtnBlock" routerLink="/approval-management">
                    <span class="d-flex justify-content-around align-items-center my-2">
                        <i class="fa-solid fa-cash-register text-primary"></i>
                        <h3 class="mb-0">07</h3>
                    </span>
                    <h6 class="mb-0">Pending Expense Approvals</h6>
                </button>
            </div>
            <div class="col-md-3 mb-2">
                <button class="btn btn-primary dashboardFormBtnBlock" routerLink="/approval-management">
                    <span class="d-flex justify-content-around align-items-center my-2">
                        <i class="fa-solid fa-shuffle text-primary"></i>
                        <h3 class="mb-0">23</h3>
                    </span>
                    <h6 class="mb-0">Pending Other Approvals</h6>
                </button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-briefcase text-primary"></i>
                    <span class="ms-1 px-2">Activity List</span>
                    <span class="card-sub-header">( Top 5 tickets from all categories )</span>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-wrap">
                                    <table class="table table-responsive-xl">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>Raised By</th>
                                                <th>Assigned To</th>
                                                <th>Status</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox" checked>
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="abc6cad9c0c4dfdfc4ebcec6cac2c785c8c4c6">markotto@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td>Markotto89</td>
                                                <td class="status"><span class="active">Active</span></td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="761c17151914021e19041802191836131b171f1a5815191b">jacobthornton@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td>Jacobthornton</td>
                                                <td class="status"><span class="waiting">Pending</span></td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="88e4e9fafaf1eae1faecc8ede5e9e1e4a6ebe7e5">larrybird@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td>Larry_bird</td>
                                                <td class="status"><span class="active">Active</span></td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="b3d9dcdbddd7dcd6f3d6ded2dadf9dd0dcde">johndoe@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td>Johndoe1990</td>
                                                <td class="status"><span class="active">Active</span></td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="alert" role="alert">
                                                <td class="border-bottom-0">
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center border-bottom-0">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="2c4b4d5e554e455e486c49414d4540024f4341">garybird@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td class="border-bottom-0">Garybird_2020</td>
                                                <td class="status border-bottom-0"><span class="waiting">Pending</span>
                                                </td>
                                                <td class="border-bottom-0">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-form-templates></app-form-templates>
        <div class="row mb-3">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-comment-alt text-primary"></i>
                    <span class="ms-1 px-2">FAQ</span>
                    <span class="card-sub-header">( Basic answers to your questions )</span>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 faq">
                                <div class="accordion" id="accordionExample">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-calendar-plus text-primary"></i>
                    <span class="ms-1 px-2">Leave Management</span>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-cake-candles text-primary"></i>
                    <span class="ms-1 px-2">Wishes Today</span>
                </h6>
            </div>
            <div class="col-md-12">
                <div class="card birthdayCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>John Doe</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Will Smith</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Peter Parker</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Jacob Mathur</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>Rick Fury</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h6 class="non-card-heading position-relative"><i class="fa-solid fa-handshake text-primary"></i>
                    <span class="ms-1 px-2">Upcoming Meetings</span>
                </h6>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>First Aid Training</h5>
                                        <p class="mb-0">11:30 am - 12:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Mock Up Discussion</h5>
                                        <p class="mb-0">12:30 pm - 1:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">13</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Onboarding Discussion</h5>
                                        <p class="mb-0">02:30 pm - 4:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="card meetingCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column align-items-center border-end">
                                        <h3 class="text-center">14</h3>
                                        <h6 class="text-center">APR</h6>
                                    </div>
                                    <div class="col-md-7 d-flex flex-column justify-content-center ">
                                        <h5>Client Call</h5>
                                        <p class="mb-0">10:00 am - 12:30pm</p>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-clipboard-check fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Completed Tickets</h6>
                <h1 class="text-primary">134 <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-clipboard-list fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Pending Tickets</h6>
                <h1 class="text-primary">87 <i class="fa-solid fa-arrow-down"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-atom fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Asset Allocated</h6>
                <h1 class="text-primary">76% <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-graduation-cap fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Training</h6>
                <h1 class="text-primary">40% <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-landmark fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Compliance Training</h6>
                <h1 class="text-primary">23% <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <div class="rotate">
                    <i class="fa-solid fa-file-invoice-dollar fa-5x"></i>
                </div>
                <h6 class="text-uppercase">New Accounts</h6>
                <h1 class="text-primary">27.1K <i class="fa-solid fa-arrow-up"></i></h1>
                <p class="text-uppercase">This Quarter</p>
            </div>
        </div>
    </div>
</div>