<div class="row">
    <div class="col-md-9">
        <div class="row mb-3">
            <div class="col-md-12 position-relative" style="height: 60vh;">
                <img src="../assets/images/banner.jpg"
                    style="width: 112%;position: absolute; right: -12px; top: -100px;" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <div class="card card-inverse card-success">
                    <div class="card-block bg-success">
                        <div class="rotate">
                            <!-- <i class="fa fa-user fa-5x"></i> -->
                            <!-- <i class="fa-sharp fa-solid fa-clipboard-list-check fa-4x"></i> -->
                            <i class="fa-solid fa-clipboard-check fa-5x"></i>
                        </div>
                        <h6 class="text-uppercase">Completed Tickets</h6>
                        <h1>134</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-inverse card-danger">
                    <div class="card-block bg-danger">
                        <div class="rotate">
                            <!-- <i class="fa fa-list fa-4x"></i> -->
                            <i class="fa-solid fa-clipboard-list fa-5x"></i>
                        </div>
                        <h6 class="text-uppercase">Pending Tickets</h6>
                        <h1>87</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-inverse card-info">
                    <div class="card-block bg-info">
                        <div class="rotate">
                            <i class="fa-solid fa-atom fa-5x"></i>
                        </div>
                        <h6 class="text-uppercase">Asset Allocated</h6>
                        <h1>76%</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-inverse card-warning">
                    <div class="card-block bg-warning">
                        <div class="rotate">
                            <i class="fa-solid fa-graduation-cap fa-5x"></i>
                        </div>
                        <h6 class="text-uppercase">Training</h6>
                        <h1>40%</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span>
                            Activity List <span class="card-sub-header">( Top 5 tickets from all categories
                                )</span>
                        </span>
                        <span class="material-symbols-rounded icon-primary">
                            detection_and_zone
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-wrap">
                                    <table class="table table-responsive-xl">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>Raised By</th>
                                                <th>Assigned To</th>
                                                <th>Status</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox" checked>
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="abc6cad9c0c4dfdfc4ebcec6cac2c785c8c4c6">markotto@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td>Markotto89</td>
                                                <td class="status"><span class="active">Active</span></td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="761c17151914021e19041802191836131b171f1a5815191b">jacobthornton@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td>Jacobthornton</td>
                                                <td class="status"><span class="waiting">Pending</span></td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="88e4e9fafaf1eae1faecc8ede5e9e1e4a6ebe7e5">larrybird@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td>Larry_bird</td>
                                                <td class="status"><span class="active">Active</span></td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="b3d9dcdbddd7dcd6f3d6ded2dadf9dd0dcde">johndoe@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td>Johndoe1990</td>
                                                <td class="status"><span class="active">Active</span></td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="alert" role="alert">
                                                <td class="border-bottom-0">
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="d-flex align-items-center border-bottom-0">
                                                    <img class="me-3"
                                                        src="https://www.mnp.ca/-/media/foundation/integrations/personnel/2020/12/16/13/57/personnel-image-4483.jpg?h=800&w=600&hash=9D5E5FCBEE00EB562DCD8AC8FDA8433D" />
                                                    <div class="pl-3 email">
                                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="2c4b4d5e554e455e486c49414d4540024f4341">garybird@email.com</a></span>
                                                        <span>Raised On: 01/03/2020</span>
                                                    </div>
                                                </td>
                                                <td class="border-bottom-0">Garybird_2020</td>
                                                <td class="status border-bottom-0"><span class="waiting">Pending</span>
                                                </td>
                                                <td class="border-bottom-0">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"><i
                                                                class="fa-solid fa-square-xmark"></i></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span>
                            News and Events <span class="card-sub-header">( Upcoming Events, Press Releases,
                                Etc )</span>
                        </span>
                        <i class="fa-solid fa-radio icon-primary"></i>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="event-list">
                                    <li>
                                        <time datetime="2014-07-20"
                                            class="d-flex flex-column align-items-center justify-content-center">
                                            <span class="day">04</span>
                                            <span class="month">Jul</span>
                                            <span class="year">2014</span>
                                            <span class="time mt-1">ALL DAY</span>
                                        </time>
                                        <img alt="Independence Day"
                                            src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
                                        <div class="info">
                                            <h2 class="title">Independence Day</h2>
                                            <p class="desc">United States Holiday</p>
                                        </div>
                                        <!-- <div class="social">
                              <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa-brands fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa-brands fa-twitter"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa-brands fa-google-plus"></span></a></li>
                              </ul>
                            </div> -->
                                    </li>

                                    <li>
                                        <time datetime="2014-07-20 0000"
                                            class="d-flex flex-column align-items-center justify-content-center">
                                            <span class="day">08</span>
                                            <span class="month">Jul</span>
                                            <span class="year">2014</span>
                                            <span class="time mt-1">12:00 AM</span>
                                        </time>
                                        <img alt="PS Vita"
                                            src="https://www.retroplace.com/pics/ps3/packshots/114172--one-piece-unlimited-world-red.png" />
                                        <div class="info">
                                            <h2 class="title">One Piece Unlimited World Red</h2>
                                            <p class="desc">PS Vita</p>
                                            <!-- <ul>
                                <li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Website</a>
                                </li>
                                <li style="width:50%;"><span class="fa fa-money"></span> $39.99</li>
                              </ul> -->
                                        </div>
                                        <!-- <div class="social">
                              <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa-brands fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa-brands fa-twitter"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa-brands fa-google-plus"></span></a></li>
                              </ul>
                            </div> -->
                                    </li>

                                    <li>
                                        <time datetime="2014-07-20 2000"
                                            class="d-flex flex-column align-items-center justify-content-center">
                                            <span class="day">20</span>
                                            <span class="month">Jan</span>
                                            <span class="year">2014</span>
                                            <span class="time mt-1">8:00 PM</span>
                                        </time>
                                        <img alt="My 24th Birthday!"
                                            src="https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg" />
                                        <div class="info">
                                            <h2 class="title">Mouse0270's 24th Birthday!</h2>
                                            <p class="desc">Bar Hopping in Erie, Pa.</p>
                                            <!-- <ul>
                                <li style="width:33%;">1 <span class="glyphicon glyphicon-ok"></span></li>
                                <li style="width:34%;">3 <span class="fa fa-question"></span></li>
                                <li style="width:33%;">103 <span class="fa fa-envelope"></span></li>
                              </ul> -->
                                        </div>
                                        <!-- <div class="social">
                              <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa-brands fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa-brands fa-twitter"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa-brands fa-google-plus"></span></a></li>
                              </ul>
                            </div> -->
                                    </li>

                                    <li>
                                        <time datetime="2014-07-31 1600"
                                            class="d-flex flex-column align-items-center justify-content-center">
                                            <span class="day">31</span>
                                            <span class="month">Jan</span>
                                            <span class="year">2014</span>
                                            <span class="time mt-1">4:00 PM</span>
                                        </time>
                                        <img alt="Disney Junior Live On Tour!"
                                            src="https://assets.cdn.watchdisneyfe.com/dnow/img/static-pages/disney-junior-tour/DJ_LiveOnTour_3000x3000_Final_Get%20Tickets_April22.png" />
                                        <div class="info">
                                            <h2 class="title">Disney Junior Live On Tour!</h2>
                                            <p class="desc"> Pirate and Princess Adventure</p>
                                            <!-- <ul>
                                <li style="width:33%;">$49.99 <span class="fa fa-male"></span></li>
                                <li style="width:34%;">$29.99 <span class="fa fa-child"></span></li>
                              </ul> -->
                                        </div>
                                        <!-- <div class="social">
                              <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa-brands fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa-brands fa-twitter"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa-brands fa-google-plus"></span></a></li>
                              </ul>
                            </div> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span>
                            FAQ <span class="card-sub-header">( Basic answers to your questions )</span>
                        </span>
                        <i class="fa-solid fa-comment-alt icon-primary"></i>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 faq">
                                <div class="accordion" id="accordionExample">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Why do we use it?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        It is a long established fact that a reader will be
                                                        distracted by the readable content
                                                        of a page when looking at its layout.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse4"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Where can I get some?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse4" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        There are many variations of passages of Lorem Ipsum
                                                        available, but the majority have
                                                        suffered alteration in some form, by injected humour
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse5"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapse5" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse6"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse6" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse7"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Why do we use it?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse7" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        It is a long established fact that a reader will be
                                                        distracted by the readable content
                                                        of a page when looking at its layout.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse8"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Where can I get some?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse8" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">

                                                        There are many variations of passages of Lorem Ipsum
                                                        available, but the majority have
                                                        suffered alteration in some form, by injected humour
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse5"
                                                            aria-expanded="false" aria-controls="collapseOne">
                                                            What is Lorem Ipsum?
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapse5" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum
                                                        has been the industry's standard dummy text ever
                                                        since the 1500s, when an unknown
                                                        printer.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse6"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Where does it come from?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse6" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Contrary to popular belief, Lorem Ipsum is not
                                                        simply random text. It has roots in a
                                                        piece of classical Latin literature from 45 BC,
                                                        making it over 2000 years old.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse7"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Why do we use it?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse7" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        It is a long established fact that a reader will be
                                                        distracted by the readable content
                                                        of a page when looking at its layout.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapse8"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Where can I get some?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse8" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">

                                                        There are many variations of passages of Lorem Ipsum
                                                        available, but the majority have
                                                        suffered alteration in some form, by injected humour
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Leave Management
                        <span class="material-symbols-rounded icon-primary">
                            event_upcoming
                        </span>
                    </div>
                    <div class="card-body">
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h5 class="non-card-heading position-relative"><i class="fa-solid fa-cake-candles me-1"></i>
                    Wishes Today
                </h5>
            </div>
            <div class="col-md-12">
                <div class="card birthdayCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center">
                                <i class="fa-solid fa-user" style="font-size: 24px;"></i>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center flex-column">
                                <label>John Doe</label>
                                <p>Designation</p>
                            </div>
                            <div class="col-md-5 d-flex align-items-center">
                                <button type="button" class="btn btn-primary">Send Wishes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="non-card-heading position-relative"><i class="fa-solid fa-file-alt me-1"></i>
                    Form Samples</h5>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <ul class="list-group" style="width: 100%">
                    <li class="list-group-item">
                        <i class="fa-solid fa-file-pdf me-1"></i> Privacy
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-file-excel me-1"></i> Payrol
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-file-lines me-1"></i> SOPs
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-file-contract me-1"></i> Performance Review
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>